@layer theme {
  :root {
    --gui-primitive-font-family-default: "Roboto", sans-serif;

    --gui-primitive-font-size-xs: 10px;
    --gui-primitive-font-size-sm: 12px;
    --gui-primitive-font-size-md: 14px;
    --gui-primitive-font-size-lg: 18px;
    --gui-primitive-font-size-xl: 24px;
    --gui-primitive-font-size-xxl: 32px;

    --gui-primitive-font-weight-default: 400;
    --gui-primitive-font-weight-bold: 700;

    --gui-primitive-font-transform-default: none;
    --gui-primitive-font-transform-uppercase: uppercase;
  }
}