@layer theme {
  :root {
    --gui-primitive-space-0: 0;
    --gui-primitive-space-1: 1px;
    --gui-primitive-space-xxs: 2px;
    --gui-primitive-space-xs: 4px;
    --gui-primitive-space-sm: 6px;
    --gui-primitive-space-md: 8px;
    --gui-primitive-space-lg: 24px;
    --gui-primitive-space-xl: 32px;
    --gui-primitive-space-xxl: 48px;
  }
}