:root {
    /* The primary color is used for the button and link colors */
    --fui-primary: var(--mantine-color-blue-filled);
    /* The primary hover color is used for the button and link colors when hovered */
    --fui-primary-hover: var(--mantine-color-blue-filled-hover);
    /* The primary surface color is used for the button text color */
    --fui-primary-surface: var(--mantine-color-white);
    /* The text color used for body text */
    --fui-text: var(--mantine-color-text);
    /* The muted text color used for body text, such as subtitles */
    --fui-text-muted: var(--mantine-color-dimmed);
    /* The background color of the cards */
    --fui-background: var(--mantine-color-body);
    /* The border color used for none input fields */
    --fui-border: var(--mantine-color-default-border);
    /* The input color used for input fields */
    --fui-input: var(--mantine-color-default-border);
    /* The error color used for error messages */
    --fui-error: var(--mantine-color-error);
    /* The radius used for the input fields */
    --fui-radius: var(--mantine-radius-md);
    /* The radius used for the cards */
    --fui-radius-card: var(--mantine-radius-default);
}

.fui-form fieldset {
    border: none;
    padding: 0;
}

:where(.fui-form)>:not(:last-child) {
    margin-bottom: var(--mantine-spacing-md);
}

:where(.fui-form .fui-form__action) {
    background: none;
    border: none;
    cursor: pointer;
}

.fui-form .fui-button {
    border: none;
}