@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: var(--gui-semantic-font-body-font-family);
  font-size: var(--gui-semantic-font-body-font-size);
  font-weight: var(--gui-semantic-font-body-font-weight);
  text-transform: var(--gui-semantic-font-body-transform);
  margin-top: var(--gui-semantic-font-body-space);
  margin-bottom: var(--gui-semantic-font-body-space);
}