@layer theme {
  :root {
    --gui-semantic-font-heading-1-font-family: var(--gui-primitive-font-family-default);
    --gui-semantic-font-heading-1-font-size: var(--gui-primitive-font-size-xxl);
    --gui-semantic-font-heading-1-font-weight: var(--gui-primitive-font-weight-bold);
    --gui-semantic-font-heading-1-transform: var(--gui-primitive-font-transform-default);
    --gui-semantic-font-heading-1-space: var(--gui-primitive-space-lg);

    --gui-semantic-font-heading-2-font-family: var(--gui-primitive-font-family-default);
    --gui-semantic-font-heading-2-font-size: var(--gui-primitive-font-size-xl);
    --gui-semantic-font-heading-2-font-weight: var(--gui-primitive-font-weight-bold);
    --gui-semantic-font-heading-2-transform: var(--gui-primitive-font-transform-default);
    --gui-semantic-font-heading-2-space: var(--gui-primitive-space-md);

    --gui-semantic-font-heading-3-font-family: var(--gui-primitive-font-family-default);
    --gui-semantic-font-heading-3-font-size: var(--gui-primitive-font-size-lg);
    --gui-semantic-font-heading-3-font-weight: var(--gui-primitive-font-weight-bold);
    --gui-semantic-font-heading-3-transform: var(--gui-primitive-font-transform-default);
    --gui-semantic-font-heading-3-space: var(--gui-primitive-space-md);

    --gui-semantic-font-heading-4-font-family: var(--gui-primitive-font-family-default);
    --gui-semantic-font-heading-4-font-size: var(--gui-primitive-font-size-md);
    --gui-semantic-font-heading-4-font-weight: var(--gui-primitive-font-weight-bold);
    --gui-semantic-font-heading-4-transform: var(--gui-primitive-font-transform-default);
    --gui-semantic-font-heading-4-space: var(--gui-primitive-space-md);

    --gui-semantic-font-heading-5-font-family: var(--gui-primitive-font-family-default);
    --gui-semantic-font-heading-5-font-size: var(--gui-primitive-font-size-sm);
    --gui-semantic-font-heading-5-font-weight: var(--gui-primitive-font-weight-bold);
    --gui-semantic-font-heading-5-transform: var(--gui-primitive-font-transform-uppercase);
    --gui-semantic-font-heading-5-space: var(--gui-primitive-space-md);

    --gui-semantic-font-heading-6-font-family: var(--gui-primitive-font-family-default);
    --gui-semantic-font-heading-6-font-size: var(--gui-primitive-font-size-xs);
    --gui-semantic-font-heading-6-font-weight: var(--gui-primitive-font-weight-bold);
    --gui-semantic-font-heading-6-transform: var(--gui-primitive-font-transform-uppercase);
    --gui-semantic-font-heading-6-space: var(--gui-primitive-space-md);

    --gui-semantic-font-body-font-family: var(--gui-primitive-font-family-default);
    --gui-semantic-font-body-font-size: var(--gui-primitive-font-size-md);
    --gui-semantic-font-body-font-weight: var(--gui-primitive-font-weight-default);
    --gui-semantic-font-body-transform: var(--gui-primitive-font-transform-default);
    --gui-semantic-font-body-space: var(--gui-primitive-space-0);
  }
}