@layer components {
  .gui-button {
    cursor: pointer;
    border: none;
    padding: 8px 16px;
    border-radius: 2px;
    transition: background-color .2s;

    @each $variant in (primary, neutral) {
      &--#{$variant}:is(&--weight-default) {
        background-color: var(--gui-semantic-color-background-#{$variant});
        color: var(--gui-semantic-color-text-on-#{$variant});
        &:hover, &:focus {
          background-color: var(--gui-semantic-color-background-#{$variant}-hover);
        }
        &:active {
          background-color: var(--gui-semantic-color-background-#{$variant}-active);
        }
      }

      &--#{$variant}:is(&--weight-subtle) {
        background-color: var(--gui-semantic-color-background-#{$variant}-subtle);
        color: var(--gui-semantic-color-text-on-#{$variant}-subtle);

        &:hover, &:focus {
          background-color: var(--gui-semantic-color-background-#{$variant}-subtle-hover);
        }
        &:active {
          background-color: var(--gui-semantic-color-background-#{$variant}-subtle-active);
        }
      }

      &--#{$variant}:is(&--weight-transparent) {
        background-color: transparent;
        color: var(--gui-semantic-color-text-#{$variant});
      }
    }

    @each $size in (compact, default, large) {
      &--size-#{$size} {
        padding: var(--gui-semantic-space-element-y-#{$size}) var(--gui-semantic-space-element-x-#{$size});
      }
    }
  }
}
